@page
@model GoalsManager.Pages.WeeklyGoalsPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr />
<div class="row mt-5 mb-5">

    <div class="col-md-4 mr-5">
        <form method="post" class="mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeeklyGoals.Name" class="control-label"></label>
                <input asp-for="WeeklyGoals.Name" class="form-control" />
                <span asp-validation-for="WeeklyGoals.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyGoals.Description" class="control-label"></label>
                <input asp-for="WeeklyGoals.Description" class="form-control" />
                <span asp-validation-for="WeeklyGoals.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyGoals.Start" class="control-label"></label>
                <input asp-for="WeeklyGoals.Start" class="form-control" />
                <span asp-validation-for="WeeklyGoals.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyGoals.End" class="control-label"></label>
                <input asp-for="WeeklyGoals.End" class="form-control" />
                <span asp-validation-for="WeeklyGoals.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeeklyGoals.Progress" class="control-label"></label>
                <input asp-for="WeeklyGoals.Progress" class="form-control" />
                <span asp-validation-for="WeeklyGoals.Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </form>
    </div>


    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
