@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Indie Flower', cursive;
}

.progress {
        background-color: white !important;
}

.img-wrapper {
    width: 30% !important;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
